In [ ]:
# Ways of declaring a dictionary

In [ ]:
# step 1 - input manually

In [ ]:
emp={'Name':'Krutika', 'Age':22, 'City':'Pune', 'Company':'TCS'}
print(emp, type(emp))

{'Name': 'Krutika', 'Age': 22, 'City': 'Pune', 'Company': 'TCS'} <class 'dict'>

In [ ]:
# Step 2- using enumerate and zip

In [ ]:
# enumerate()-iterable objects ko values dega aur uske saath jo values assign hoga usko keys(By default zero se start hoga).

In [ ]:
names=['Vaibhav', 'Neelam', 'Ashish', 'Arun', 'Shraddha', 'Nikita', 'Amit']

dict(enumerate(names))
list(enumerate(names))

[(0, 'Vaibhav'),
 (1, 'Neelam'),
 (2, 'Ashish'),
 (3, 'Arun'),
 (4, 'Shraddha'),
 (5, 'Nikita'),
 (6, 'Amit')]

In [ ]:
list(enumerate(names))

[(0, 'Vaibhav'),
 (1, 'Neelam'),
 (2, 'Ashish'),
 (3, 'Arun'),
 (4, 'Shraddha'),
 (5, 'Nikita'),
 (6, 'Amit')]

In [ ]:
# Give the rank to the above names starting from 1

dict(enumerate(names,1))

{1: 'Vaibhav',
 2: 'Neelam',
 3: 'Ashish',
 4: 'Arun',
 5: 'Shraddha',
 6: 'Nikita',
 7: 'Amit'}

In [ ]:
names

['Vaibhav', 'Neelam', 'Ashish', 'Arun', 'Shraddha', 'Nikita', 'Amit']

In [ ]:
names[::-1]

['Amit', 'Nikita', 'Shraddha', 'Arun', 'Ashish', 'Neelam', 'Vaibhav']

In [ ]:
# zip()-two iterables ko zip kargega rather than one and work same as enumerate.

In [ ]:
names = ['Vaibhav', 'Neelam', 'Ashish', 'Arun', 'Shraddha', 'Nikita', 'Amit']
ages = [10,22,33,44,55,66,67]
mapping = dict(zip(names,ages))
mapping

{'Vaibhav': 10,
 'Neelam': 22,
 'Ashish': 33,
 'Arun': 44,
 'Shraddha': 55,
 'Nikita': 66,
 'Amit': 67}

In [ ]:
napping = list(zip(names,ages))
napping

[('Vaibhav', 10),
 ('Neelam', 22),
 ('Ashish', 33),
 ('Arun', 44),
 ('Shraddha', 55),
 ('Nikita', 66),
 ('Amit', 67)]

In [ ]:
# Step 3- Taking input from user

In [ ]:
val = dict(input("Enter a dict"))
print(val)-

Enter a dict{'Name':'Amit','Age':22}

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [ ]:
d = {}


for i in range(4):
  k = int(input("Enter a key"))
  v = int(input("Enter a value")) # eval()- agar yeh nahi rahega toh string ke form par return(by default) karega usse int,bool etc par store nahi karega final output par

  d[k] = v

  print(d)

Enter a key11

TypeError: eval() arg 1 must be a string, bytes or code object

In [ ]:
keys=[]
values=[]

for i in range(4):
    k=eval(input('Enter a key'))
    v=eval(input('Enter a value'))

    keys.append(k)
    values.append(v)

d=dict(zip(keys,values))
print(d)

Enter a key11
Enter a value200
Enter a key12
Enter a value400
Enter a key13
Enter a value500
Enter a key16
Enter a value809
{11: 200, 12: 400, 13: 500, 16: 809}

In [ ]:
# - By using dictionary comprehesnion

# [value for loop] -> List comprehension

# {key:value for loop} -> Dict comprehensionbb

In [ ]:
d={i:0 for i in range(1,6)}
d

{1: 0, 2: 0, 3: 0, 4: 0, 5: 0}

In [ ]:
d = {}
d[1] = 0
print(d)

d[2] = 10
print(d)

d[3] = 110
print(d)
d[4] = 1110
print(d)
d[5] = 11110
print(d)

{1: 0}
{1: 0, 2: 10}
{1: 0, 2: 10, 3: 110}
{1: 0, 2: 10, 3: 110, 4: 1110}
{1: 0, 2: 10, 3: 110, 4: 1110, 5: 11110}

In [ ]:
# Create a dictionary where the numbers from 1 to 5 are the keys and their squares are the values
# Output- {1:1,2:4,3:9,4:16,5:25}

# method -1
d = {}
d = {i:i**2 for i in range(1,6)}
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
#method-2
keys = []
values = []

for i in range(5):
  k = int(input("Enter a key"))
  v = int(input("Enter a value"))

  keys.append(k)
  values.append(v)

d = dict(zip(keys,values))
print(d)

Enter a key1
Enter a value1
Enter a key2
Enter a value4
Enter a key3
Enter a value9
Enter a key4
Enter a value16
Enter a key5
Enter a value25
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
# The names should be the key and their length should be the value

# Using loop

names = ['Vaibhav', 'Neelam', 'Ashish', 'Arun', 'Shraddha', 'Nikita', 'Amit']
for i in names:
  print(i,len(i))
  d[i] = len(i)

print(d)

Vaibhav 7
Neelam 6
Ashish 6
Arun 4
Shraddha 8
Nikita 6
Amit 4
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 'Vaibhav': 7, 'Neelam': 6, 'Ashish': 6, 'Arun': 4, 'Shraddha': 8, 'Nikita': 6, 'Amit': 4}

In [ ]:
# Create a dictionay that has even numbers from the above tuple as the keys and the squares as the values

# Using loop
d = {}
for i in range(1,10):
  if i%2 == 0:
    d[i] = i**2
    print(d)

# Using comprehesnion

{2: 4}
{2: 4, 4: 16}
{2: 4, 4: 16, 6: 36}
{2: 4, 4: 16, 6: 36, 8: 64}

In [ ]:
d = {i:i**2 for i in range(1,6) if i%2 == 0}
d

{2: 4, 4: 16}

In [ ]:
# Create a dictionary where the alphabets A-Z are the keys and their ASCII numbers are the values
# {'A':65.......'Z':90}

# Using loop

# A-Z, 65-90

d = {}

for i in range(65,91):
  d[chr(i)] = i

print(d)

{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'U': 85, 'V': 86, 'W': 87, 'X': 88, 'Y': 89, 'Z': 90}

In [ ]:
chr(90)

'Z'

In [ ]:
d = {chr(i):i for i in range(65,91)}
d

{'A': 65,
 'B': 66,
 'C': 67,
 'D': 68,
 'E': 69,
 'F': 70,
 'G': 71,
 'H': 72,
 'I': 73,
 'J': 74,
 'K': 75,
 'L': 76,
 'M': 77,
 'N': 78,
 'O': 79,
 'P': 80,
 'Q': 81,
 'R': 82,
 'S': 83,
 'T': 84,
 'U': 85,
 'V': 86,
 'W': 87,
 'X': 88,
 'Y': 89,
 'Z': 90}

In [ ]:
# Create a dictionary where the consonants from A-Z are the keys and their ASCII numbers are the values

d = {}
for i in range(65,91):
  if chr(i) not in 'AEIOU':
    d[chr(i)] = i

print(d)

{'B': 66, 'C': 67, 'D': 68, 'F': 70, 'G': 71, 'H': 72, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'V': 86, 'W': 87, 'X': 88, 'Y': 89, 'Z': 90}

In [ ]:
d = {chr(i):i for i in range(65,91) if chr(i) not in 'AEIOU'}
d

{'B': 66,
 'C': 67,
 'D': 68,
 'F': 70,
 'G': 71,
 'H': 72,
 'J': 74,
 'K': 75,
 'L': 76,
 'M': 77,
 'N': 78,
 'P': 80,
 'Q': 81,
 'R': 82,
 'S': 83,
 'T': 84,
 'V': 86,
 'W': 87,
 'X': 88,
 'Y': 89,
 'Z': 90}

In [ ]:
how prompting work
# Prompt + Input data -> send it by using through web interface
# this prompt send to LLM via API(Application programming interface)
# API -  is like a messenger that allows different software systems to talk to each other.
# Then llm process the request and send back result in the form of python dictionary.
# At last this dictionary is converted into excel as a data database.

In [ ]:
# {ternary opertor for loop}

In [ ]:
# Create a dictionary that has the numbers from 1 to 10 as keys.
# If the key is even the the value should be square of the key.
# If the key is odd then the value should be the cube of the key.

# {1:1,2:4,3:27,4:16,5:125,6:36,7:343,8:64,9:729,10:100}

# Using loop

d = {}

for i in range(1,11):
  if i % 2 == 0:
    d[i] = i**2
  else:
    d[i] = i**3

print(d)

{1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 7: 343, 8: 64, 9: 729, 10: 100}

In [ ]:
d = {i:i**2 if i % 2 == 0 else i**3 for i in range(1,11)}
d

{1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 7: 343, 8: 64, 9: 729, 10: 100}

In [ ]:
# nested dictionary-> key is mapped with another dictionary

In [ ]:
# {key_1 : {key:value}, key_2 : {key:value}}

In [ ]:
# Ravi
# Siddhartha
# Bharath
# Shraddha
# Geeta

# For each employee
# Name-
# ID-
# Age-
# City-

val = {'Ravi':{'ID':101,'Age':22,'City':'Chennai'},'Siddharta': {'ID':102,'Age':23,'City':'Mumbai'},'Bharath': {'ID':103,'Age':24,'City':'Hyderabad'}}
print(val)

{'Ravi': {'ID': 101, 'Age': 22, 'City': 'Chennai'}, 'Siddharta': {'ID': 102, 'Age': 23, 'City': 'Mumbai'}, 'Bharath': {'ID': 103, 'Age': 24, 'City': 'Hyderabad'}}

In [ ]:
imp_details={'emp_1':{'Name':'Ravi',
                      'ID':111,
                      'Age':22,
                      'City':'Pune'},

             'emp_2':{'Name':'Siddhartha',
                      'ID':112,
                      'Age':25,
                      'City':'Bhopal'},

             'emp_3':{'Name':'Bharath',
                      'ID':None,
                      'Age':25,
                      'City':'Pune'},

             'emp_4':{'Name':'Shraddha',
                      'ID':113,
                      'Age':23,
                      'City':'Noida'},

             'emp_5':{'Name':'Geeta',
                      'ID':115,
                      'Age':26,
                      'City':'Pune'}
            }
print(imp_details)

{'emp_1': {'Name': 'Ravi', 'ID': 111, 'Age': 22, 'City': 'Pune'}, 'emp_2': {'Name': 'Siddhartha', 'ID': 112, 'Age': 25, 'City': 'Bhopal'}, 'emp_3': {'Name': 'Bharath', 'ID': None, 'Age': 25, 'City': 'Pune'}, 'emp_4': {'Name': 'Shraddha', 'ID': 113, 'Age': 23, 'City': 'Noida'}, 'emp_5': {'Name': 'Geeta', 'ID': 115, 'Age': 26, 'City': 'Pune'}}

In [ ]:
imp_details['emp_1']
imp_details['emp_2']
imp_details['emp_4']

{'Name': 'Shraddha', 'ID': 113, 'Age': 23, 'City': 'Noida'}

In [ ]:
for i in imp_details:
  print(i)

emp_1
emp_2
emp_3
emp_4
emp_5

In [ ]:
# Get the details of the empoyees who belong to Pune

for i in imp_details:
  if imp_details[i]['City'] == 'Pune':
    print(imp_details[i])

{'Name': 'Ravi', 'ID': 111, 'Age': 22, 'City': 'Pune'}
{'Name': 'Bharath', 'ID': None, 'Age': 25, 'City': 'Pune'}
{'Name': 'Geeta', 'ID': 115, 'Age': 26, 'City': 'Pune'}

In [ ]:
# Get the names of the empoyees who belong to Pune

for i in imp_details:
  if imp_details[i]['City'] == 'Pune':
    print(imp_details[i]['Name'])

Ravi
Bharath
Geeta

In [ ]:
# Get the name of the employee who has not got the ID yet

for i in imp_details:
  if imp_details[i]['ID'] is None:
    print(imp_details[i]['Name'])

Bharath

In [ ]:
# Dictionary is mutable

In [ ]:
emp={'Name': 'Ravi', 'ID': 111, 'Age': 22, 'City': 'Pune'}
print(emp, id(emp))

{'Name': 'Ravi', 'ID': 111, 'Age': 22, 'City': 'Pune'} 134201030740032

In [ ]:
emp['Name'] = 'Vaibhav'
print(emp, id(emp))

{'Name': 'Vaibhav', 'ID': 111, 'Age': 22, 'City': 'Pune'} 134201030740032

In [ ]:
emp['Name'] = 'Mumbai'
print(emp, id(emp))

{'Name': 'Mumbai', 'ID': 111, 'Age': 22, 'City': 'Pune'} 134201030740032

In [ ]:
# Assign ID 110 tp Bharath
for i in imp_details:
  if imp_details[i]['Name'] == 'Bharath':
    imp_details[i]['ID'] == 101
print(imp_details)

{'emp_1': {'Name': 'Ravi', 'ID': 111, 'Age': 22, 'City': 'Pune'}, 'emp_2': {'Name': 'Siddhartha', 'ID': 112, 'Age': 25, 'City': 'Bhopal'}, 'emp_3': {'Name': 'Bharath', 'ID': None, 'Age': 25, 'City': 'Pune'}, 'emp_4': {'Name': 'Shraddha', 'ID': 113, 'Age': 23, 'City': 'Noida'}, 'emp_5': {'Name': 'Geeta', 'ID': 115, 'Age': 26, 'City': 'Pune'}}

In [ ]:
# - We can map multiple values to a single key.
# - We have to put the values in a container and then we map the container to the key.

In [ ]:
details={'Name':['Venketashvaran', 'Vaibhav', 'Shraddha', 'Arun', 'Neelam', 'Rahul', 'Ishaq'],
'Age':[24, 25, 29, 22, 31, 24, 26],
'ID':[111,112,113,None,115,118,120]}

details

{'Name': ['Venketashvaran',
  'Vaibhav',
  'Shraddha',
  'Arun',
  'Neelam',
  'Rahul',
  'Ishaq'],
 'Age': [24, 25, 29, 22, 31, 24, 26],
 'ID': [111, 112, 113, None, 115, 118, 120]}

In [ ]:
details = {'Name':['Venketashvaran', 'Vaibhav', 'Shraddha', 'Arun', 'Neelam', 'Rahul', 'Ishaq'], 'Age':[24, 25, 29, 22, 31, 24, 26], 'ID':[111,112,113,None,115,118,120]}
print(details)

{'Name': ['Venketashvaran', 'Vaibhav', 'Shraddha', 'Arun', 'Neelam', 'Rahul', 'Ishaq'], 'Age': [24, 25, 29, 22, 31, 24, 26], 'ID': [111, 112, 113, None, 115, 118, 120]}

In [ ]:
details['Name']

['Venketashvaran', 'Vaibhav', 'Shraddha', 'Arun', 'Neelam', 'Rahul', 'Ishaq']

In [ ]:
import pandas as pd

In [ ]:
df=pd.DataFrame(details)
df

             Name  Age     ID
0  Venketashvaran   24  111.0
1         Vaibhav   25  112.0
2        Shraddha   29  113.0
3            Arun   22    NaN
4          Neelam   31  115.0
5           Rahul   24  118.0
6           Ishaq   26  120.0

In [ ]:
#keys()- able to find the keys in a dictionary
details = {'Name':['Venketashvaran', 'Vaibhav', 'Shraddha', 'Arun', 'Neelam', 'Rahul', 'Ishaq'], 'Age':[24, 25, 29, 22, 31, 24, 26], 'ID':[111,112,113,None,115,118,120]}
details.keys()

dict_keys(['Name', 'Age', 'ID'])

In [ ]:
details.values()

dict_values([['Venketashvaran', 'Vaibhav', 'Shraddha', 'Arun', 'Neelam', 'Rahul', 'Ishaq'], [24, 25, 29, 22, 31, 24, 26], [111, 112, 113, None, 115, 118, 120]])

In [ ]:
# items -> yeh ek dict items generate karke dega jo ki tuples(jisme keys aur values hoga) ka list return karke dega
details.items()

dict_items([('Name', ['Venketashvaran', 'Vaibhav', 'Shraddha', 'Arun', 'Neelam', 'Rahul', 'Ishaq']), ('Age', [24, 25, 29, 22, 31, 24, 26]), ('ID', [111, 112, 113, None, 115, 118, 120])])

In [ ]:
for i in d.items():
  print(i)

(1, 1)
(2, 4)
(3, 27)
(4, 16)
(5, 125)
(6, 36)
(7, 343)
(8, 64)
(9, 729)
(10, 100)

In [ ]:
i,j = (100,200)
print(i)
print(j)

100
200

In [ ]:
for i,j in d.items():
  print(i,j)

1 1
2 4
3 27
4 16
5 125
6 36
7 343
8 64
9 729
10 100

In [ ]:
emp_details={'emp_1':{'Name':'Ravi',
                      'ID':111,
                      'Age':22,
                      'City':'Pune'},

             'emp_2':{'Name':'Siddhartha',
                      'ID':112,
                      'Age':25,
                      'City':'Bhopal'},

             'emp_3':{'Name':'Bharath',
                      'ID':None,
                      'Age':25,
                      'City':'Pune'},

             'emp_4':{'Name':'Shraddha',
                      'ID':113,
                      'Age':23,
                      'City':'Noida'},

             'emp_5':{'Name':'Geeta',
                      'ID':115,
                      'Age':26,
                      'City':'Pune'}
            }

In [ ]:
i,j=(1,100)
print(i) # Tuple ko unpack karega aur fir humko i = 1 aur j = 100 dega
print(j)

1
100

In [ ]:
for i,j in d.items():
    print(i,j) # isme i,j seprately print hoga

1 1
2 4
3 27
4 16
5 125
6 36
7 343
8 64
9 729
10 100

In [ ]:
emp_details={'emp_1':{'Name':'Ravi',
                      'ID':111,
                      'Age':22,
                      'City':'Pune'},

             'emp_2':{'Name':'Siddhartha',
                      'ID':112,
                      'Age':25,
                      'City':'Bhopal'},

             'emp_3':{'Name':'Bharath',
                      'ID':None,
                      'Age':25,
                      'City':'Pune'},

             'emp_4':{'Name':'Shraddha',
                      'ID':113,
                      'Age':23,
                      'City':'Noida'},

             'emp_5':{'Name':'Geeta',
                      'ID':115,
                      'Age':26,
                      'City':'Pune'}
            }

IndentationError: unexpected indent (<ipython-input-78-1e5983fc8de1>, line 26)

In [ ]:
emp_details

{'Ravi': {'ID': 101, 'Age': 22, 'City': 'Chennai'},
 'Siddharta': {'ID': 102, 'Age': 23, 'City': 'Mumbai'},
 'Bharath': {'ID': 103, 'Age': 24, 'City': 'Hyderabad'}}

In [ ]:
emp_details.keys()

dict_keys(['Ravi', 'Siddharta', 'Bharath'])

In [ ]:
emp_details.values()

dict_values([{'ID': 101, 'Age': 22, 'City': 'Chennai'}, {'ID': 102, 'Age': 23, 'City': 'Mumbai'}, {'ID': 103, 'Age': 24, 'City': 'Hyderabad'}])

In [ ]:
apple={'emp_1':{'Name':'Ravi',
                      'ID':111,
                      'Age':22,
                      'City':'Pune'},

             'emp_2':{'Name':'Siddhartha',
                      'ID':112,
                      'Age':25,
                      'City':'Bhopal'},

             'emp_3':{'Name':'Bharath',
                      'ID':None,
                      'Age':25,
                      'City':'Pune'},

             'emp_4':{'Name':'Shraddha',
                      'ID':113,
                      'Age':23,
                      'City':'Noida'},

             'emp_5':{'Name':'Geeta',
                      'ID':115,
                      'Age':26,
                      'City':'Pune'}
            }

for i,j in apple.items(): # Removed extra space before the 'for' loop
    for x,y in j.items():
        print(y)

Ravi
111
22
Pune
Siddhartha
112
25
Bhopal
Bharath
None
25
Pune
Shraddha
113
23
Noida
Geeta
115
26
Pune

In [ ]:
v={'Name': 'Ravi', 'ID': 111, 'Age': 22, 'City': 'Pune'}

for x,y in v.items():
    print(x)

Name
ID
Age
City

In [ ]:
# update->ek dictionary ka value doosre dictionary par update kar dega.
d={1:100,2:200}
d2={3:300,4:400}
d.update(d2)
print(d)

{1: 100, 2: 200, 3: 300, 4: 400}

In [ ]:
d = {}

for i in range(1,6):
  d[i] = i**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
d = {}

for i in range(1,6):
  d.update({i:i**2})
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
#get()- return karega value us key ka aur invalid key ka none return karega.

In [ ]:
# dictionay_name.get(key)

In [ ]:
emp={'Name':'Shrikant', 'ID':222, 'Age':28, 'City':'Mumbai'}
emp
print(emp.get('Name'))

Shrikant

In [ ]:
#setdefault->key as a argument lega agar wo exist krta hai toh wo uska value return karega varna wo usko koi default value dega jo ki none hai
# dictionary_name.get()

In [ ]:
print(emp.get('Phone'))

None

In [ ]:
emp.setdefault('Phone')

In [ ]:
print(emp)

{'Name': 'Shrikant', 'ID': 222, 'Age': 28, 'City': 'Mumbai', 'Phone': None}

In [ ]:
#fromkeys()-> saare value ko same hi keys se assign kar dega
# dictionary_name.fromkeys(iterable, value)

In [ ]:
codes=[111,112,113,114,115,116,117,118]
d = {}

for i in codes:
  d[i] = 'HR'
print(d)

{111: 'HR', 112: 'HR', 113: 'HR', 114: 'HR', 115: 'HR', 116: 'HR', 117: 'HR', 118: 'HR'}

In [ ]:
codes=[111,112,113,114,115,116,117,118]
d = {}

d.fromkeys(codes,'HR')

{111: 'HR',
 112: 'HR',
 113: 'HR',
 114: 'HR',
 115: 'HR',
 116: 'HR',
 117: 'HR',
 118: 'HR'}

In [ ]:
d={1:100,2:200}
d.update(d.fromkeys(codes,'HR'))
print(d)

{1: 100, 2: 200, 111: 'HR', 112: 'HR', 113: 'HR', 114: 'HR', 115: 'HR', 116: 'HR', 117: 'HR', 118: 'HR'}

In [ ]:
#pop() -> yeh ek key as a argument lega aur uss key value pair ko hata dega.agar wo key nahi hai toh key error aayega.

In [1]:
emp={'Name': 'Shrikant',
 'ID': 222,
 'Age': 28,
 'City': 'Mumbai',
 'Phone': None,
 'Company': 'TCS'}

print(emp)

{'Name': 'Shrikant', 'ID': 222, 'Age': 28, 'City': 'Mumbai', 'Phone': None, 'Company': 'TCS'}

In [6]:
x=emp.pop('City')
print(x)

KeyError: 'City'

In [7]:
x=emp.pop('City')
print(x)

KeyError: 'City'

In [8]:
print(emp)

{'Name': 'Shrikant', 'ID': 222, 'Age': 28, 'Phone': None, 'Company': 'TCS'}

In [9]:
emp.pop('Name')

'Shrikant'

In [ ]:
#popitem() ->  It returns the last key:value pair in the form of a tuple -> (key,value) and removes it from the dictionary.

In [ ]:
emp={'Name': 'Shrikant',
 'ID': 222,
 'Age': 28,
 'City': 'Mumbai',
 'Phone': None,
 'Company': 'TCS'}

print(emp)

In [10]:
x = emp.popitem()
print(x)

('Company', 'TCS')

In [11]:
print(emp)

{'ID': 222, 'Age': 28, 'Phone': None}

In [ ]:
#copy() -> copies elements from one dictinary to another one and return that another one.

In [12]:
d1={1:100,2:200,3:300,4:400}
d2=d1
print(d2)

{1: 100, 2: 200, 3: 300, 4: 400}

In [13]:
print(id(d1),id(d2))

137292082507840 137292082507840

In [14]:
d1={1:100,2:200,3:300,4:400}
d2=d1.copy()
print(d2)

{1: 100, 2: 200, 3: 300, 4: 400}

In [ ]:
# clear()-> saare elements ko hatakar dictionary ko empty kar dega

In [15]:
emp

{'ID': 222, 'Age': 28, 'Phone': None}

In [16]:
emp.clear()

In [17]:
emp

{}

In [19]:
text='i am a smart boy'
d = {}

d={}

for i in text:
    if i!=' ':
        d[i]=text.count(i)

print(d)

{'i': 1, 'a': 3, 'm': 2, 's': 1, 'r': 1, 't': 1, 'b': 1, 'o': 1, 'y': 1}

In [20]:
text='''
p1-This is prompt 1
p2-This is prompt 2
p3-This is prompt 3
p4-This is prompt 4
'''


# Output- {'p1':'This is prompt 1'.....'p4':'This is prompt 4'}

prompts=text.split('\n')
print(prompts)

['', 'p1-This is prompt 1', 'p2-This is prompt 2', 'p3-This is prompt 3', 'p4-This is prompt 4', '']

In [21]:
if "":
    print(True)
else:
    print(False)

False