# I/O FUNCTIONS

In [ ]:
input jo hum lete hain usse hum input bolte hain
output jo ki screen par display hota hai

In [1]:
a=input("Enter a name") # input() use hota hai input ke liye 
print(a) # print() use hota hai output print karne ke liye

Enter a name DERR

DERR

In [2]:
a=input("Enter a name -") # input() use hota hai input ke liye 
print(a)

Enter a name - SSEE

SSEE

In [3]:
a = 10
b = 20
c = 30
print(a, b, c, sep =',')

10,20,30

In [4]:
print('the value is',a)

the value is 10

In [7]:
print(f'the addition of {a} and {b} is {c}')

the addition of 10 and 20 is 30

## Static initialization

In [ ]:
value variable ko directly assign kar do.

In [8]:
a=10
print(a)

10

## Dynamic Initialization

In [ ]:
value indirectly assign karna user input de dena

In [11]:
a = int(input())
print(a)

 23

23

# Operators

## Arthimetic operators

In [ ]:
# - 1- Arithmetic Operators
# - 2- Logical Operators
# - 3- Comparison Operators
# - 4- Equality Operators
# - 5- Assignment Operators
# - 6- Compound Assignment Operators
# - 7- Membership Operators
# - 8- Identity Operators
# - 9- Bitwise Operators
# - 10- Ternary Opeartors

In [ ]:
# Arthimetic Operators
# + addition
# - subtraction
# * multiplication
# / float division
# // floor division
# % modulo
# ** exponent

In [13]:
a=1
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b) # floor division example 5 //2 == 2 as 2*2 + 1 so answer is 2
print(a%b)
print(a**b)

3
-1
2
0.5
0
1
1

## Logical Operator

In [ ]:
make logical decisions or not(deal with true/false)

In [15]:
#and
#or
#not

In [ ]:
and 
only true and true is true rest all are false
or
only true or true=true
     true or false=true
     false or true = true
     rest all are false

In [16]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [17]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [ ]:
not give complement of boolean value for true->false and false->true

In [18]:
print(not(True))
print(not(False))

False
True

In [19]:
print(10 and 20)
print("ptiiiii" and {})
print({} and [])
print({} and [1,2,3,])

20
{}
{}
{}

In [20]:
print(10 or 20)
print("ptiiiii" or {})
print({} or [])
print({} or [1,2,3,])

10
ptiiiii
[]
[1, 2, 3]

In [21]:
print(not(20))
print("ptiiiii" and {})
print({} and [])
print({} and [1,2,3,])

False
{}
{}
{}

In [27]:
names = ["sjsjsj","jsjsjsjsj", None, "sjsjsjsjsj"]
for name in names:
    if not name:
        print(name)

None

## Comparison operator

In [ ]:
# <= less than equal to
# >= greater than equal to
# == equal to
# < less than
# > greater than

In [29]:
#number comparison
print(2.2<334)
print(2>3)
print(2==2)
print(3<=4)
print(2>=3)

True
False
True
True
False

In [37]:
# String comparison
print("eerkrkkk" > "jsjjjjs")
print("ddjdjdjj" < "jdjejjjd")

False
True

In [35]:
print("djejjjdnn" == "jjsjj")

False

In [32]:

print("jdjdjjdj" <= "kjdjjjjd")
print("ssjxjjxsjj" >= "sjsjjdjd")

True
True

In [2]:
# Character comparison
 # In case of strings it compares the ASCII value.

# ASCII- American Standard Code for Information Interchange.
# ord('character') -> It returns the ASCII value
# chr(ASCII value) -> It returns the character on that ASCII value
# A to Z, 65 to 90
# a to z, 97 to 122

print('A' > 'Z')
print('a' > 'z')
print('a' == 'z')
print('A' == 'Z')

False
False
False
False

In [3]:
# Container comparison
print([1,2,3,4,5,6,7,8] > (1,2,3,4,5,6,7,8))

TypeError: '>' not supported between instances of 'list' and 'tuple'

In [4]:
print(10 > ord('a'))

False

## Equality operators

In [6]:
# dono values equal hai ki nahi (magnitude and type se)

In [7]:
print('a' == 5)

False

In [8]:
print('a' == 2)
print('e' == 3)
print('w' == 4)
print(3.0 == 3)

False
False
False
True

In [9]:
print(2!=3)

True

In [14]:
print(int('5') == 5)

True

## Assignment operator

In [17]:
# used to asssign a value to it.
a = 2 # ( '=' is a assignment operator and '=='  is a equality operator) also == is used for comparison purpose also
print(a)

2

In [20]:
not a == 3 # (kya a != 3 answer hai yes)

True

## Membership operator

In [22]:
#agar koi value doosre valus mein hai ki nahi wo check krta hai ye operator.
apr = "hdhhhhhdhhhhhdhh"
print('h' in apr)
print('a' not in apr) # in-> usme hai, not in -> usme nahi hai

True
True

In [24]:
ard = [1,3,4,5,6,(13,34,56),{34,57},{1:200,3:400,5:49499}]
print(1 in ard)

True

## Identity operator

In [32]:
# yeh btata hai ki dono objects same memory location par store hai ki nahi
a =5
b =5
c = 5
print(a is b is c)
print(id(a), id(b))
# kyuki -5 to 256 wle integers ko same location par store karega(location reuse karega) jise hum integer cache bhi kehte hain

True
140721604569656 140721604569656

In [31]:
a=257
b=257
print(a is b) # kyuki yeh -5 to 256 wle se outside range wla hai
print(id(a), id(b))

False
2345404264816 2345404265872

## Python object(in short value)  reusability

In [34]:
# Integer Caching
#(-5 to 256)
# Wo case jisme do/ya usse jyada variables mein do/ya usse same values store karta hai aur python usme koi naya object create nahi karta balki usi object ko reuse karta hain.
a =5
b =5
c = 5
print(a is b is c)
print(id(a), id(b),id(c))

True
140721604569656 140721604569656 140721604569656

In [35]:
# Large Numbers
a=257
b=257
print(a is b) # kyuki yeh -5 to 256 wle se outside range wla hai
print(id(a), id(b))

False
2345404267920 2345404267088

In [36]:
# String Interning-> simple string ko reuse karega(jinke beech koi spaces ya special characters nahi hain).
a="ffr" # simple string
b="ffr" # simple string
print(a is b)

True

In [37]:
a="ffr"
b="ffr 555" # complex string
print(a is b)

False

In [38]:
a="ffr"
b="ffr@nn" # complex string
print(a is b)

False

## Bitwise operators

In [ ]:
do bitwise operation (for 0 and 1)
Steps
1.int-> binary bits
2. perform bitwise operation
3. result bit value -> int value

In [39]:
print( 45 and 22)

22

In [40]:
print(45 or 22)

45

In [ ]:
# & bitwise and
# | bitwise or
# ~ bitwise not
# ^ bitwise xor
# << bitwise leftshift
# >> bitwise rightshift

In [ ]:
and -> 1&1 is 1 else 0

In [ ]:
or -> 0|0 is 0 else 1

In [42]:
# ~1 is 0 and ~0 is 1

In [44]:
# XOR-> same bits is 0 opposite bits is 1
print(1 ^ 1)
print(1 ^ 0)
print(0 ^ 1)
print(0 ^ 0)

0
1
1
0

In [45]:
#bin(int) -> return binary value of given integer value
bin(22)

'0b10110'

### Bitwise leftshift

In [48]:
# bits ko left mein shift karega
# number << the_number_of_bits
print(23<<2)

92

In [ ]:
# result number = 2 ** no_of_bits * number

### Bitwise RightShift

In [50]:
# bits ko right mein shift karega
# number >> the_number_of_bits
print(64>>2)

16

In [ ]:
# result number = number/ 2 ** no_of_bits

## Ternary operator

In [1]:
# conditional statements ki jagah use hoga
# exp_1 if condition else exp_2
num = 15
print('EVEN') if num % 2 == 0 else print('ODD')

ODD

## compound Assignment operator

In [ ]:
# a += 1  -> a = a+1

## String

### OPerations on string

In [ ]:
# concatrenation,repeatition, indexing and slicing,membership,length

In [5]:
# Concatenation
n1 = 'manoj'
n2 = 'kumar'
n3 = 'bajpayee'

full_names = ''
full_names += n1 + ' '
full_names += n2 + ' '
full_names += n3 + ' '
print(full_names)

manoj kumar bajpayee

In [ ]:
# Repaeation -> * operator used for repaeation

In [8]:
m_str = 'apple'
print(m_str * 20)

appleappleappleappleappleappleappleappleappleappleappleappleappleappleappleappleappleappleappleapple

# lENgth of String

In [10]:
mY_str = '     '
print(mY_str)

## Indexing in string

In [ ]:
# Positive index -> 0 to n-1
# negative index -> -1 to -n

## Slicing

In [ ]:
# Extracting a substring from a string

In [13]:
my_str = "sjsjjjjjsjjjj jsjsjjjjjj"
print(my_str[0:12:2])

ssjjsj

In [15]:
print(my_str[12:1:-2])

jjsjjs

In [17]:
print(my_str[::-1])
print(my_str[-1::-1]) # both print same value(Reverse a string)

jjjjjjsjsj jjjjsjjjjjsjs
jjjjjjsjsj jjjjsjjjjjsjs

In [18]:
# By default indexing will start from left to right(if we dont put any step value then by default step value is 1)

In [19]:
my_str = 'ranveer'
print(my_str[1:-1])

anvee

## Membership

In [ ]:
# in
# not in

In [21]:
my_str = 'rjrjrjjjj'
print('r' in my_str)

True

## Methods -> it was used to accomplish a specific task

In [25]:
my_str = "lallu rams hrivastav"
print(my_str.split())

['lallu', 'rams', 'hrivastav']

In [1]:
my_str = "sjsjjjsjjjj@@@@@$$$sjsjsjsjsj"
print(my_str.split())

['sjsjjjsjjjj@@@@@$$$sjsjsjsjsj']

In [3]:
my_str = "22222sjsjjjsjjjj@@@@@$$$sjsjsjsjsj"
print(my_str.lstrip("222222")) # Remove the left most character(by default remove spaces from left)

sjsjjjsjjjj@@@@@$$$sjsjsjsjsj

In [4]:
my_str = "22222sjsjjjsjjjj@@@@@$$$sjsjsjsjsj666"
print(my_str.rstrip("666")) # Remove the right most characters(by default remove spaces from right)

22222sjsjjjsjjjj@@@@@$$$sjsjsjsjsj

In [5]:
my_str = "sswwwsriiij"
print(my_str.index('w')) #  return first occurence of that character/string.

2

In [7]:
my_str = "kdkdkdk"
print(my_str.replace('k','i'))

idididi

In [10]:
my_str = "22222sjsjjjsjjjj@@@@@$$$sjsjsjsjsj"
my_str.ljust(len(my_str) + 2,'%%')

TypeError: The fill character must be exactly one character long

In [11]:
my_str.rjust(len(my_str) + 2,'%%')

TypeError: The fill character must be exactly one character long

In [12]:
my_str = "helloworld"
my_str.center(len(my_str)+4, '*')

'**helloworld**'

In [13]:
my_str = "helloworld"
my_str.ljust(len(my_str)+4, '*').rjust(len(my_str)+10,'&')

'&&&&&&helloworld****'

In [14]:
my_str = "helloworld"
print(my_str.isalnum()) # alpha numeric hai ki nahi

True

In [15]:
my_str = "helloworld"
print(my_str.isalpha()) # aphabet hai ki nahi usme

True

In [16]:
my_str = "helloworld"
print(my_str.isidentifier()) # usme identifier hai ki nahi

True