In [ ]:
Conditional statements and loops

In [ ]:
execute some code based upon the condition

In [ ]:
# - 1- if statement
# - 2- if....else statement
# - 3- Multiple if statement
# - 4- if....elif....else statement
# - 5- Nested if....else statement
# - 6- Ternary operators

In [ ]:
if statemnt- if this condition is true then it will execute the statement

In [ ]:
syntax 
if(condition):
   code

In [ ]:
# indentation ko dono code ke space ko kahte hai, agar code par indentation nahi rahega to indentation error aayega.Aur indentation scope/Block ko bhi define karta hai

In [1]:
if 2 == 2:
    print("jfjfj")

jfjfj

In [4]:
2==2

True

In [5]:
2 == 4

False

In [6]:
if 2 == 2:
    print("ndndndn")    
print("sjsjsjsj")

ndndndn
sjsjsjsj

In [7]:
if 2 == 3:
    print("ndndndn")    
print("sjsjsjsj")

sjsjsjsj

In [8]:
if 2 == 3:
    print("ndndndn")    
    print("sjsjsjsj") # kyuki true nhi hai

In [9]:
if 2 == 2: # imp to remember

SyntaxError: incomplete input (504411243.py, line 1)

In [ ]:
if else- agar if hua to ok varna else

In [ ]:
if (condition):
    code
else:
    code

In [10]:
if 2 == 2:
    print("jjjfjfj")
else:
    print("jdjdjdj")

jjjfjfj

In [11]:
if 2 == 5:
    print("jjjfjfj")
else:
    print("jdjdjdj")

jdjdjdj

In [12]:
if 2 == 2:
    print("jjjfjfj")
else:
    print("jdjdjdj")
print("jdjdjdj")

jjjfjfj
jdjdjdj

In [14]:
if 2 == 3:
    print("jjjfjfj")
else:
    print("jdjdjdj")
print("jdmmdmdmj")

jdjdjdj
jdmmdmdmj

In [18]:
# Take two numbers and print the maximum number
a = 10
b = 2

if a < b:
    print('The result is {}'.format(a))
else:
    print('The result is {}'.format(b))

The result is 2

In [20]:
a = 10
b = 2

if a < b:
    print(f'The result is {a}')
else:
    print(f'The result is {b}')

The result is 2

In [ ]:
multiple if statements
if(condition)
   code
if(condition)
   code
    |

In [2]:
# Take a number from 1 to 5 and print in following way

# Input- 1
# Output- One
# Input- 2
# Output- Two

a = int(input())
if a == 1:
    print("ONE")
if a == 2:
    print("TWO")
if a == 3:
    print(a == 3)
if a == 4:
    print("Four")
if a == 5:
    print("Five")

 2

TWO

In [ ]:
if elif else statement- agar if hua to ok varna elif agar dono nhi hua to else

In [3]:
if 2==1:
    print('if block')
elif 3==3:
    print('elif block')
else:
    print('else block')

elif block

In [7]:
# Take 3 numbers and print the maximum of the 3 numbers
a = int(input())
b = int(input())
c = int(input())

if a < b & b < c:
    print('C is max')
elif b < c & c < a:
    print('a is max')
else:
    print('b is max')

 1
 2
 3

C is max

In [9]:
a = 2
b = 3
c = 8

In [10]:
a > b & c < a

True

In [11]:
a = 1
b = 2
c = 3

if a<b & b<c:
    print(f"a={a} is max")
elif b<a & a<c:
    print(f"b={b} is max")
else:
    print(f"c={c} is max")

a=1 is max

In [ ]:
nested if else statement->if-else statement inside if_else statement
if condition:
    if condition:
        code
        code

In [ ]:
if condition:
    if condition:
        code
        code
    else:
        code
else:
    code

In [20]:
# Take a letter as input and print vowel or consonant as the case may be.
a = input()
if a.isalpha():
    if a in 'aeiouAEIOU':
        print(f"{a} is a vowel")
    else:
        print(f"{a} is a consonant")
else:
    print('Only alphabets are allowed')

 8

Only alphabets are allowed

In [ ]:
Ternary operator- # - It is a substitute to if..else statement.
# - It is a one liner code to write the conditional statement
# exp_1 if condition else exp_2
# Suppose the if condition is True then exp_1 will be the result.
# Suppose the if condition is False then exp_2 will be the result.

In [22]:
a = int(input())
b = int(input())
print("HELLO WORLD") if a < b else print('JDJDJDJDJ')

 2
 3

HELLO WORLD

In [23]:
# Even or odd
a = int(input())
print("Even") if a%2 == 0 else print("Odd")

 2

Even

In [24]:
# Maxium of 3 numbers
a = int(input())
b = int(input())
c = int(input())

print("c is largest") if a < b & b < c else print('b ia largest')  if c < a & a < b else print(' c is largest')

 3
 3
 5

 c is largest

In [27]:
# English
# Maths
# Scinece
# Maximum Marks=50

# Calculate the percentage of total marks
# Print the following way
# Percentage -> 
# Suppose the percentage 60 or greater -> First Division
# Suppose the percentage is in between 45 and 59 -> Second Division
# Suppose the percentage is in between 33 and 44 -> Third Division
# Suppose the percentage is below 33 -> Fail

# Note- Take the marks from the user

eng = int(input('english marks'))
math = int(input('math marks'))
sci = int(input('science mark'))
per = (eng + math + sci)/150 *100

if per >= 60:
    print("fIRST DIVISION")
elif per >= 45 & per <= 59:
    print("second divison")
elif per >= 33 & per <= 44:
    print("Third DAVISION")
else:
    print('fail')

english marks 23
math marks 44
science mark 66

fIRST DIVISION

In [28]:
per=27
print('First Division') if per>=60 else print('Second Division') if per>=45 else print('Third Division') if per>=33 else print('Fail')

Fail

In [29]:
eng=44
math=48
sci=420

if eng<=50 and math<=50 and sci<=50:
    per=(eng+math+sci)/150*100

    print(f"The percentage is-> {per}")
    
    if per>=60:
        print('First Division')
    elif per>=45:
        print('Second Division')
    elif per>=33:
        print('Third Division')
    else:
        print('Fail')
else:
    print('The maximum marks are 50')

The maximum marks are 50

In [ ]:
loops-> # Loops are used to execute the piece of code repeatedly.

In [ ]:
# - 1- for loop
# - 2- while loop

In [ ]:
# - for loop is applied on the iterables only.
# - for traverses upon the elements of the iterable one by one from the beginning to the end.
# - The positioner points to the elements one by one that the for loop traverses upon.
# - The positioner can be any variable.
# - If we use any non-iterable item it raises TypeError

In [30]:
my_str='Python'

for i in my_str:
    print(i)

P
y
t
h
o
n

In [32]:
lst=[10,20,30,40,50,60,70,80]

for x in lst:
    print(x, end=' ')

10 20 30 40 50 60 70 80

In [33]:
t=(True, 5+6j, 78, 4.66, 'Hello', None, {1:100,2:200})

for ele in t:
    print(ele)

True
(5+6j)
78
4.66
Hello
None
{1: 100, 2: 200}

In [34]:
print(range(1,11))

range(1, 11)

In [35]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [44]:
d = {1:100,2:2999,3:33888}
for i in d.values:
    print(i)

TypeError: 'builtin_function_or_method' object is not iterable

In [42]:
for i in d.values:
    print(i)

TypeError: 'builtin_function_or_method' object is not iterable

In [45]:
# Get the addition of the numbers from 1 to 10
s=0

for i in range(1,6):
    s=s+i
print(s)

15

In [46]:
for i in range(6):
    print([i])

[0]
[1]
[2]
[3]
[4]
[5]

In [47]:
my_str='We are learning data science'

for i in range(len(my_str)):
    print(i, my_str[i])

0 W
1 e
2
3 a
4 r
5 e
6
7 l
8 e
9 a
10 r
11 n
12 i
13 n
14 g
15
16 d
17 a
18 t
19 a
20
21 s
22 c
23 i
24 e
25 n
26 c
27 e