# Typecasting

In [ ]:
# koi ek datatype ko doosre datatype pe convert karne ko hum type casting bolte hain.

In [ ]:
# 2.8 -> 2 (foat -> int)

# '55' -> 55 (string -> int)

# '55'+'22'-string concatenation
# 55+22 - normal addition

## int()

In [ ]:
# int value return karega

In [4]:
a=2.222
print(a, type(a))

2.222 <class 'float'>

In [3]:
val = int(a)
print(val, type(val))

2 <class 'int'>

In [5]:
a = '22'
b = int(a)
print(b, type(b))

22 <class 'int'>

In [6]:
val = 'absedjdjcjjdjsfknkn'
var = int(val)
print(var, type(var))

ValueError: invalid literal for int() with base 10: 'absedjdjcjjdjsfknkn'

In [ ]:
# upar wale example mein string mein sirf digits hi de sakte hain.

In [8]:
b = '2.2'
print(b, type(b))
c = int(b)
print(c)

2.2 <class 'str'>

ValueError: invalid literal for int() with base 10: '2.2'

In [9]:
a=True
b=False
c=int(a)
d=int(b)
print(c)
print(d)

1
0

In [ ]:
# 1-True
# 0-False

## float

In [ ]:
# return karega float value ko`

In [14]:
a=22
b = float(a)
print(a)

22

In [15]:
a='2.2'
b = float(a)
print(a)

2.2

In [16]:
a='apple'
b= float(a)
print(b)

ValueError: could not convert string to float: 'apple'

In [18]:
a = '2.22'
b = int(float(a))
print(b)

2

In [19]:
v = 'abcs'
r = float(v)
print(r)

ValueError: could not convert string to float: 'abcs'

## Complex

In [21]:
a = complex(2,3)
b = complex(2)
c = complex(2.2)
d = complex('2')
print(a)
print(b)
print(c)
print(d)
print(d)

(2+3j)
(2+0j)
(2.2+0j)
(2+0j)
(2+0j)

In [22]:
e = complex('aas')
print(e)

ValueError: complex() arg is a malformed string

In [ ]:
# matlab koi input strinng nahi de sakte sirf digits hoga inputs

## String

In [ ]:
# String ko return karega

In [1]:
a=22
b=str(a)
print(b)

22

In [2]:
print(type(b))

<class 'str'>

In [3]:
lst = [1,2,3,4,5]
var = str(lst)
print(var, type(var))

[1, 2, 3, 4, 5] <class 'str'>

### bool

In [ ]:
# return karega true ya false

In [ ]:
# int -> 0 is False else True

# float -> 0.0 is False else True

# complex -> 0+0j or 0j or 0.0+0.0j or 0.0j is False else True

# None -> False

# string -> '', "", '''''', """"""" (empty string) is False else True

# list -> [] (empty list) is False else True

# tuple -> () (empty tuple) is False else True

# dict -> {} (empty dictionary) is False else True

# frozenset -> frosenset() or frozenset(empty_iterable) is False else True

# range -> if no sequence is False else True

In [5]:
print(bool(5))
print(bool(0))
print(bool(-2))

True
False
True

In [6]:
print(bool(5.2))
print(bool(0.0))
print(bool(-2.2))

True
False
True

In [9]:
print(bool(0+0j))
print(bool(0.0+0.0j))
print(bool(0.0j))
print(bool(0))
print(bool(1+2j))
print(bool(1-2j))
print(bool(-1+2j))
print(bool(-1-2j))

False
False
False
False
True
True
True
True

In [10]:
print(bool(''))
print(bool(""))
print(bool(''''''))
print(bool(""""""))

False
False
False
False

In [11]:
print(bool('q'))
print(bool("a"))
print(bool('''a'''))
print(bool("""aa""")) # empty character false hoga baki sab true hoga(quotes ke andar kuch bhi dale).

True
True
True
True

In [12]:
lst = [1,2,3,4,5,6,7]
print(bool(lst))

True

NameError: name 'Lsr' is not defined

In [14]:

print(bool([]))

False

In [15]:
print(bool(())
print(bool(frozenset()))
print(bool(range())

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2743722859.py, line 1)

### List()

In [ ]:
Ye hum kuch aisa samajh sakte hain kisi bhi iterable items ko hum list par convert kar sakte hain
iterable items:List,Tuple,dictionary
non-iterable:set,frozenset

In [2]:
var = [1,2,3,4,5,6]
ver = list(var)
print(ver)
ver[0] = "pineapple"
print(ver)

[1, 2, 3, 4, 5, 6]
['pineapple', 2, 3, 4, 5, 6]

In [4]:
var = (1,2,3,4,5,6)
ver = list(var)
print(ver)
var[0] = 'qwer'
print(var)

[1, 2, 3, 4, 5, 6]

TypeError: 'tuple' object does not support item assignment

In [ ]:
iska matlab agar jo tuple ko hum list par convert karte hain to fir hum wo list mutable hoga aur iska vice versa nahi hoga.

## Tuple

In [ ]:
Ye hum kuch aisa samajh sakte hain kisi bhi iterable items ko hum tuple par convert kar sakte hain
# Iterables- string, list, tuple, dictionary, set, frozenset, range
# Non-iterables- int, float, complex, bool, None

In [5]:
var = [1,2,3,4,5,6]
ver = tuple(var)
print(ver)

(1, 2, 3, 4, 5, 6)

In [ ]:
ye tuple immutable hoga

In [6]:
var = (1,2,3,4,5,6)
ver = tuple(var)
print(ver)

(1, 2, 3, 4, 5, 6)

### dict

In [ ]:
Ye hum kuch aisa samajh sakte hain kisi bhi iterable items ko hum dictionary par convert kar sakte hain
hume do iterable pass karna padta hai
dict([[iterable_object]]) - aisa kuch

In [4]:
# list
ver = dict([[1,2]])
print(ver)

{1: 2}

In [5]:
ver = dict([[1,2], [2,44],[3,484848]])
print(ver)

{1: 2, 2: 44, 3: 484848}

In [7]:
#Tuple
ver = dict([[1,2]])
print(ver)

{1: 2}

In [8]:
ver = dict(((1,2)))
print(ver)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [9]:
ver = dict([(1,2)])
print(ver)

{1: 2}

In [16]:
var = dict(['name', 'sjsjj'],['city','jjdjjj'],['country','jjjdjjj']) #-> list to dictionary
print(var)

TypeError: dict expected at most 1 argument, got 3

In [15]:
vty = dict(((1,'nvnnn'), (2, 'uruuuruu'), (3, 'nnnfjhfhh')))
print(vty)

{1: 'nvnnn', 2: 'uruuuruu', 3: 'nnnfjhfhh'}

In [17]:
var = dict(['name', 'sjsjj'],['city','jjdjjj'],['country','jjjdjjj']) #-> list to dictionary
print(var)

TypeError: dict expected at most 1 argument, got 3

In [19]:
data = [(1,'jdjdj'),(2,'jssjjj'),(3,'jjdjdjjj')]
print(dict(data))

{1: 'jdjdj', 2: 'jssjjj', 3: 'jjdjdjjj'}

### set()

In [ ]:
#set(iterable) -> set
# iterable items ko set pe convert karega.
#Iterables- string, list, tuple, dictionary, set, frozenset, range
# Non-iterables- int, float, complex, bool, None

In [21]:
#list
var = [1,2,3,4,5,6]
ver = set(var)
print(ver)

{1, 2, 3, 4, 5, 6}

In [22]:
#tuple
var = (1,2,3,4,5,6)
ver = set(var)
print(ver)

{1, 2, 3, 4, 5, 6}

In [23]:
# string
var = "hi my name is dheeraj"
ver = set(var)
print(ver)

{'s', 'r', 'n', 'm', 'i', 'y', 'e', 'd', 'h', 'a', 'j', ' '}

In [29]:
# dictionary
var = {1:200,2:300,3:3999}
ver = set(var) # by default key print karega
print(var.values()) # print values

dict_values([200, 300, 3999])

In [1]:
# frozenset()

var = frozenset({10,20,30,40,50})
print(set(var))

{50, 20, 40, 10, 30}

In [6]:
var = frozenset([10,20,30,40,50])
cot = (set(var))
cot[0] = 2001
print(cot)

TypeError: 'set' object does not support item assignment

In [4]:
var = frozenset([10,20,30,40,50])
var[0] = 2
print(var)

TypeError: 'frozenset' object does not support item assignment

In [3]:
for i in range(0,12):
     print(set(i))

TypeError: 'int' object is not iterable

In [8]:
# range
val = range(11)
print(val, type(val))
var = set(val)
print(var)

range(0, 11) <class 'range'>
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [12]:
val = 2
print(set(val))

TypeError: 'int' object is not iterable

In [13]:
cos = None
print(set(cos))

TypeError: 'NoneType' object is not iterable

In [17]:
var = 2+5j
print(set(var))

TypeError: 'complex' object is not iterable

In [16]:
ver = 2.22
print(set(ver))

TypeError: 'float' object is not iterable

In [15]:
cot = True
print(set(cot))

TypeError: 'bool' object is not iterable

## frozenset()

In [ ]:
##wo ki jo iterable items lega as a input jo ki hashable ho aur saath hi answer hume koi random order par ho.
## Hashable items:sarre primitives data types
## non-hashable items:list,dictionary,set
#Iterables- string, list, tuple, dictionary, set, frozenset, range
# Non-iterables- int, float, complex, bool, None
# syntax = frozenset(iterable and hashable items) -> frozenset()

In [18]:
# list
var = [1,2,3,4,5,6,7,8]
print(frozenset(var))

frozenset({1, 2, 3, 4, 5, 6, 7, 8})

In [19]:
# Tuple
var = (1,2,3,4,5,6,7,8)
print(frozenset(var))

frozenset({1, 2, 3, 4, 5, 6, 7, 8})

In [22]:
# Dictionary
var = {1:20,3:4,5:600,7:822}
print(frozenset(var))
print(frozenset(var.values()))

frozenset({1, 3, 5, 7})
frozenset({600, 20, 4, 822})

In [23]:
# Set
var = {1,2,3,4,5,6,7}
print(frozenset(var))

frozenset({1, 2, 3, 4, 5, 6, 7})

In [24]:
# Range
var = range(2)
print(frozenset(var))

frozenset({0, 1})

In [25]:
val = 2
print(frozensetset(val))

NameError: name 'frozensetset' is not defined

In [ ]:
#same error will come for float, complex, bool, None

## Keywords and Identifiers

### Keyword

In [ ]:
reserve words hote hain, unka koi specific meaning hota hai jo ki specific purpose ke liye use hota hai, yeh identifiers nhi ho sakte hain.

In [26]:
import keyword

In [27]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

### Identifiers

In [ ]:
name given to python objects

In [ ]:
variable name, function name, classs name, object name, file name, objecct name etc.

In [28]:
a = 2 # identifier name
print(a)

2